body {
  background: #00AEFF;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.fill {
  width: 100%;
  height: 56px;
}

.container {
  color: #FFFFFF;
}

h1 {
    opacity: 1;
    animation: fade 1s linear;
}

h4 {
    opacity: 1;
    animation: fade 1.25s linear;
}

h5 {
    opacity: 1;
    animation: fade 1.75s linear;
}

button {
    opacity: 1;
    animation: fade 1.25s linear;
}


@keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
